*{
    margin: 0;
    padding: 0;
    color: white;
}
a{
    text-decoration: none;
    color: white;
    font-size: 16px
}
body{
    background:  url(netflixback.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: darken;
}

.navbar{
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.logo{
    background-image: url(netflix-logo.png);
    width: 148px ;
    height: 40px;
    background-size: cover;
    margin-top: 20px;
   
}
.lang{
    display: flex; 
    
}
i{
    font-size: 20px;
}
.lang select{
    background: transparent;
    border: none;
    outline: none;
   
    color: white;
    
}
.llogo{
    color: white;
    display: flex;
    height: 32px;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 20px;
}
.sign{
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 76px;
    height: 32px;
    background-color: red;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    margin-top:20px;  
}
.container{
    height: 560px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.hedding{
    height: 281px;
    width: 588;
    margin-top: 100px;
}
h1{
    height: 210px;
    width: 570px;
    font-family: sans-serif;
    font-size: 56px;
    color: white;
    text-align: center;
    text-shadow: 20px 10px 100px white;
    text-shadow: 20px -10px 100px white;
}
p{
    text-align: center;
}
h3{
    text-align: center;
}
.login{
    height:70px;
    width: 588px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#email{
    
    width: 280px;
    height: 56px;
    border: 2px solid white;
    outline: none;
    border-radius: 5px;
    background: transparent;
    font-size: 20px;
}
#submit{
    height: 56px;
    width: 206px;
    background-color: red;
    margin-left: 20px;
    border: 2px solid white;
    border-radius: 5px;
}

.container2{
    margin-top: 55px;
    height: 1995px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.container3{
    height:1995px;
    width: 1170px;
    overflow: auto;
}
.container3 ul{
    display: flex;
    margin-top: 20px;
}
.container3 li{
    width: 224px;
    height: 268px;
    list-style: none;
    transition-property: all;
    transition-duration: 2ms;
}
.squidimg{
    width: 180px;
    height: 252px;
    background-image: url("./squid.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    transition-property:all ;
    transition-duration:1s;
    transition-delay: 1ms;
    transition-timing-function: ease-out;
}
.squidimg:hover{
    width: 187px;
    height: 258px;

}
.one {
    width: 55px;
    height: 100px;
    font-size: 100px;
    font-family: sans-serif;
    font-weight: bolder;
    color: black;
    /**background-image: url("./one.png");
    background-size: cover;**/
}
.join{
    margin-top: 40px;
    height: 328px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.join div{
    width: 280px;
    height: 268px;
    background-color: rgb(35, 2, 78);
    border-radius: 20px;
}
.join h3{
    font-size: 24px;
    font-family: sans-serif;
    padding-top: 10px;
    padding-left: 10px;
}
.join p{
    font-size: 16px;
    font-family: sans-serif;
    margin-top: 20px;
}
.buttonlist ul{
    display: flex;
    flex-direction: column;
}
.buttonlist li{
    height: 84px;
    width: 100%;
    margin-top: 10px;
    background-color: rgb(44, 43, 43);
    display: flex;
    transition-property: all;
    transition-duration: 30ms;
}
.buttonlist li:hover{
    background-color: rgb(79, 79, 79);
}
.buttonlist button{
    background: transparent;
    border: none;
    outline: none;
    font-size: 24px;
    font-family: sans-serif;
    margin-left: 10px;
}